<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Location_Bridge.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Location_Sensor_Bridge.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Location_Bridge.Properties.Settings>
            <setting name="StartupGps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LocalOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartupMinimised" serializeAs="String">
                <value>False</value>
            </setting>
        </Location_Bridge.Properties.Settings>
        <Location_Sensor_Bridge.Properties.Settings>
            <setting name="StartupGps" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LocalOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartupMinimised" serializeAs="String">
                <value>False</value>
            </setting>
        </Location_Sensor_Bridge.Properties.Settings>
    </userSettings>
</configuration>